{#
/**
 * @file
 * Default theme implementation to display a video and subtitles.
 *
 * Available variables:
 *
 * - settings: A collection of attributes for the video player, including:
 *              'width' of the palyer.
 *              'height' of the player.
 *              'class' for player styling.
 *              'autoplay'.
 *              'muted'.
 *
 * - poster:  The poster attributes for the video player, including:
 *              'url' of the poster.
 *
 * - videos:  A collection of HTML attributes for the <source> tags, including:
 *              'src' of the videos.
 *              'type' of the videos.
 *              'descrition' of the videos.
 *
 * - subs:    A collection of HTML attributes for the <track> tags, including:
 *              'src' of the subtitles.
 *              'label' of the subtitles.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
  */
#}

<video class="{{ settings.class }}" style="width: {{ settings.width }}; height: {{ settings.height }};" controls poster="{{ poster.url }}"{% if settings.autoplay == true %} autoplay{% endif %}{% if settings.muted == true %} muted{% endif %}>
  {% for video in videos %}
    <source src="{{ video.src }}" type="video/{{ video.type }}"/>
  {% endfor %}
  {% for sub in subs %}
    <track src="{{ sub.src }}" kind="subtitles" label="{{ sub.label }}"/>
  {% endfor %}
</video>
